.DS_Store
.idea
*.iml
.vscode
*.code-workspace

*.pyc
*.pyo
__pycache__
*.so
*.o
*.pyd
*.trc
*.log
*.c
*.swp
*.html
*.inv
*.ini

*.egg
*.eggs
*.egg-info
.*cache*/
*venv*/

build/
dist/
develop-eggs/
doc/_build/

pyrfc.cfg
setuptools*.egg
.pytest_cache
.python-version

material
ci/test