.DS_Store
.idea
.eggs
.venv
build/
develop-eggs/
doc/_build/
eggs/
etc/
parts/
var/
bin/
cython_debug/
.installed.cfg
.project
.pydevproject
*.egg-info/
*.pyc
*.pyo
*.pyd
*.trc
*.log
*.c
*.so
*.swp
setup.cfg
tests/config-sap.py
tests/pyrfc-sap.cfg
pool/
setuptools*.egg
