.DS_Store
.idea
.eggs
.venv
.cache
build/
dist/
develop-eggs/
doc/_build/
eggs/
etc/
parts/
var/
bin/
cython_debug/
.installed.cfg
.project
.pydevproject
*.egg-info/
*.pyc
*.pyo
*.pyd
*.trc
*.log
*.c
*.so
*.swp
pyrfc.cfg
pool/
setuptools*.egg
.pytest_cache
__pycache__
.vscode/ipch
